@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@model CoffeApp.Models.Entity.Category

<!DOCTYPE html>
<html>
<head>

</head>
<body>

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
        <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
            <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Create Category</h1>
            <div class="d-inline-flex mb-lg-5">
                <p class="m-0 text-white"><a class="text-white" href="/">Home</a></p>
                <p class="m-0 text-white px-2">/</p>
                <p class="m-0 text-white">Create</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <div class="container pt-5">
        <h2>Create New Category </h2>

        <form asp-action="Create" enctype="multipart/form-data" onsubmit="checkDescription()">
            
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label">Category Name</label>
                <input asp-for="CategoryName" class="form-control" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label">Category Image</label>
                <input asp-for="ImageUrl" class="form-control" type="file" accept=".png" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>

 

</body>
</html>



